[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
	branch = main
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "src/include/sheetreader-core"]
	path = src/include/sheetreader-core
	url = git@github.com:freddie-freeloader/sheetreader-core.git
